html {
    height: 100%;
    width: 100%;
}
body {
    min-height: 100%;
    min-width: 100%;
  }
  #main-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    /* background: rgba(255, 255, 255, 0.3); */
    background: beige;
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    /* box-shadow: 2px 5px 5px #333; */
  }  


ul {
    list-style: none;
}
.bold_text {
    font-weight: bold;
    font-size: 110%;
    color:firebrick;
}
/* .comments_div_display, .comments_form_display {
    display: none;
} */
/* .comments_form_display {
    display: none;
} */